@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Erişim Reddedildi!";
}

    

<div class="container justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-4 offset-4">
            <h1 class="display-4 text-center pb-2">
                @ViewData["Title"]
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h1 class="text-danger text-center"><i class="fa-solid fa-ban fa-3x"></i></h1>
            <p>İlgili sayfaya erişiminiz yoktur.</p>
            <div class="text-center">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Anasayfaya dön!</a>
            </div>
        </div>
    </div>
</div>
