@model RentalCar.Models.CarViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-4 text-center pb-2">
            Araç Düzenle
        </h1>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-6 offset-3">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarID" />
            <div class="form-group mb-3">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FuelType" class="form-label">Yakıt Tipi Seçiniz</label>
                <select asp-for="FuelType" class="form-select" aria-label="">
                    <option selected value="Elektrik">Elektrik</option>
                    <option value="Benzin">Benzin</option>
                    <option value="Dizel">Dizel</option>
                    <option value="LPG">LPG</option>
                </select>
                <span asp-validation-for="FuelType" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TransmissionType" class="form-label">Vites Tipi Seçiniz</label>
                <select asp-for="TransmissionType" class="form-select" aria-label="">
                    <option selected value="Manuel">Manuel</option>
                    <option value="Otomatik">Otomatik</option>
                </select>
                <span asp-validation-for="TransmissionType" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DailyRate" class="control-label"></label>
                <input asp-for="DailyRate" class="form-control" />
                <span asp-validation-for="DailyRate" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Availability" /> @Html.DisplayNameFor(model => model.Availability)
                </label>
            </div>

            <div class="form-group mb-3">
                <div>
                    <img src="/images/@ViewData["ImageFile"]" width="150px" />
                </div>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ImageFile" class="control-label">Resim seçiniz</label>
                <input asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 d-grid">
                <button type="submit" class="btn btn-info d-block">
                    <i class="fa-solid fa-pen"></i>
                    Kaydet
                </button>
            </div>
            <div class="form-group d-grid-1">
                <a asp-action="Index">Geri dön</a>
            </div>
        </form>
    </div>
</div>

