<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Paneli</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/adminstyle.css">
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="sidebar-logo"></div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Admin" asp-action="Index">
                        <i class="fa-solid fa-home"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Admin" asp-action="ActiveReservation">
                        <i class="fa-solid fa-calendar-check"></i>
                        <span>Rezervasyonlar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-controller="Admin" asp-action="ListUser">
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Kullanıcılar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="" asp-controller="Car" asp-action="Index">
                        <i class="fa-solid fa-car"></i>
                        <span>Arabalar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" asp-area="" asp-controller="Admin" asp-action="ListContact">
                        <i class="fa-solid fa-message"></i>
                        <span>Mesajlar</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a class="sidebar-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa-solid fa-backward"></i>
                    <span>Anasayfaya Geri Dön</span>
                </a>
                <a class="sidebar-link" asp-area="" asp-controller="Account" asp-action="Logout">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Çıkış Yap</span>
                </a>
            </div>
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-4 py-3">
                <form action="#" class="d-none d-sm-inline-block">
                </form>
                <div class="navbar-collapse collapse">

                </div>
            </nav>
            <main class="content px-3 py-4">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>