@model IEnumerable<RentalCar.Entites.Contact>

@{
    ViewData["Title"] = "Nesajlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mb-3">
    <h3 class="fw-bold fs-4 mb-3">Mesajlar</h3>
    <div class="row">
        <div class="col-12">
            <table id="myTable" class="table table-striped table-bordered">
                <thead>
                    <tr class="highlight">
                        <th scope="col">İsim</th>
                        <th scope="col">E-Posta</th>
                        <th scope="col">Telefon numarası</th>
                        <th scope="col">Mesaj</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.FullName </td>
                            <td> @item.Email </td>
                            <td> @item.PhoneNumber</td>
                            <td>@item.Message </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "paging": true,
                "ordering": true,
                "info": true,
                "language": {
                    "url": "/js/datatables/Turkish.json"
                },
                "columnDefs": [
                    { type: 'turkish', targets: '_all' },
                    { type: 'date-euro', targets: 2 }
                ]
            });
        });
    </script>
}